
<div class="scenario-play-main">
  <span class="scenario-play-area">
    <p>play-scenario works!</p>
    <button (click)="attack()">Attack!</button>
    <div *ngIf="actionList.length > 0">
      <h3>Actions:</h3>
      <button *ngFor="let action of actionList" (click)="handleAction(action)">{{action.name}}</button>
    </div>
    <h3>Combat Log</h3>
    <div>
      <div *ngFor="let msg of messageList">{{msg}}</div>
    </div>
  </span>

  <span>
    <h2>Monsters</h2>
    <app-monster-detail [monster]="monster" *ngFor="let monster of monsterList"></app-monster-detail>
  </span>

  <span>
    <h2>Party</h2>
    <app-party-info [party]="party"></app-party-info>
  </span>
</div>
